<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Inicio - Sistema de Inventario Farmacéutico </title>
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap-theme.min.css">
    <link href="/static/assets/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        {{>nav}}
        {{{body}}}
    </div>
</body>
<script type="text/javascript" src="/static/assets/JS/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/assets/JS/jquery-1.12.3.js"></script>
<script type="text/javascript" src="/static/assets/JS/bootstrap.min.js"></script>
</html>