<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenid@
                </h1>
                <div class="imagen" style="float: right">
                    <img class="logo" src="/static/img/logo.jpg">
                </div>
                <div>
                    <br>
                    <h2 class="h2">Este es el sistema de gestion de farmacia dónde va a poder llevar a cabo la
                        gestión de sus productos a ofrecer, sus trabajadores y sus ganancias.</h2>
                </div>
            </div>
        </div>
    </div>
</div>